<p-card header="Quiz List" styleClass="mb-3">
  @if (isLoading) {
    <p>Loading quizzes...</p>
  } @else {
    @if (quizzes.length === 0) {
      <p>No quizzes found.</p>
    } @else {
      <p-table [value]="quizzes" responsiveLayout="scroll" styleClass="quiz-table">
        <ng-template pTemplate="header">
          <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Category</th>
            <th>Duration</th>
            <th>Total Mark</th>
            <th>Total Questions</th>
            <th>Status</th>
            <th>Level</th>
            <th>Edit</th>
            <th>Delete</th>
            
          </tr>
        </ng-template>

        <ng-template pTemplate="body" let-quiz>
          <tr class="quiz-row">
            <td>{{ quiz.name }}</td>
            <td [innerHTML]="quiz.description"></td>
            <td>{{ quiz.categoryslug }}</td>
            <td >{{ quiz.duration }}</td>
            <td>{{ quiz.totalmark }}</td>
            <td>{{ quiz.totalquestion }}</td>
            <td>{{ quiz.status }}</td>
            <td>{{ quiz.level }}</td>
            <td><PencilIcon  icon="pi pi-pencil" severity="info" class="p-button-rounded p-button-icon-only p-button-sm" (click)="alterQuiz(quiz._id)"></PencilIcon></td>
            <td>
            <div class="action-buttons">
              <TrashIcon (click)="deleteQuiz(quiz._id)"
              icon="pi pi-trash"
              severity="danger"
              rounded
              size="small"
              aria-p-ifta-label="Remove Option"></TrashIcon>
            </div>
            </td>
          </tr>
        </ng-template>
      </p-table>
    }
  }
</p-card>


<!-- Edit Form 
<p-dialog header="Edit Quiz" [(visible)]="editDialog" [modal]="true" [style]="{width: '50rem' ,height : '90vh'}" >
  <form [formGroup]="editQuizForm">
      
      <div class="field">
          <p-ifta-label for="name">Name</p-ifta-label>
          <input id="name" type="text" pInputText formControlName="name" />
      </div>

      <div class="field">
          <p-ifta-label for="description">Description</p-ifta-label>
          <input id="description" type="text" pInputText formControlName="description"  />
      </div>

      <div class="field">
          <p-ifta-label for="category">Category</p-ifta-label>
          <p-dropdown id="category" formControlName="categoryslug" [options]="categories" placeholder="Select Category"></p-dropdown>
      </div>

      <div class="field">
          <p-ifta-label for="duration">Duration</p-ifta-label>
          <input id="duration" type="text" pInputText formControlName="duration" />
      </div>

      <div class="field">
          <p-ifta-label for="totalmark">Total Mark</p-ifta-label>
          <input id="totalmark" type="text" pInputText formControlName="totalmark" />
      </div>

      <div class="field">
          <p-ifta-label for="totalquestion">Total Questions</p-ifta-label>
          <input id="totalquestion" type="text" pInputText formControlName="totalquestion" />
      </div>

      <div class="field">
          <p-ifta-label for="status">Status</p-ifta-label>
          <p-dropdown id="status" formControlName="status" [options]="statuses" placeholder="Select Status"></p-dropdown>
      </div>

      <div class="field">
          <p-ifta-label for="level">Level</p-ifta-label>
          <p-dropdown id="level" formControlName="level" [options]="levels" placeholder="Select Level"></p-dropdown>
      </div>
  </form>

  <ng-template pTemplate="footer">
      <UndoIcon p-ifta-label="Cancel" icon="pi pi-times" (click)="cancelEdit()" class="p-button-text"></UndoIcon>
      <UploadIcon  icon="pi pi-check" (click)="saveChanges()" disabled="!editQuizForm.valid"></UploadIcon>
  </ng-template>
  
</p-dialog>-->

