<p-card class="col-95 md:col-6" [style]="{ width: '30rem', overflow: 'hidden' }" >
  <p-header>
        <h2>Create an Account</h2>
      </p-header>
      <div>
        <form [formGroup]="createAccountForm" (ngSubmit)="onSubmit()">
          <!-- First Name -->
           
  <div>
            <label for="firstName">First Name</label>
            <div class="card flex justify-center">
            <input type="text" pInputText formControlName="firstName"  class="p-inputtext p-component p-element" fdprocessedid="sej9fc"/>
            
          </div>
          <small>@if(createAccountForm.controls['firstName'].invalid && createAccountForm.controls['firstName'].touched)
            {
               First name is required.
              
            }
          </small>
          
  </div>
           <!-- Last Name -->
  <div>
            <label for="lastName">Last Name</label>
            <div class="card flex justify-center">
            <input type="text" pInputText formControlName="lastName"  class="p-inputtext p-component p-element" fdprocessedid="sej9fc"/>
            
           </div>
          <small>@if(createAccountForm.controls['lastName'].invalid && createAccountForm.controls['lastName'].touched)
          {
            Last name is required.
          } 
        </small>
  </div>
  <div>
           <!-- Email -->
          <label for="email">Email ID</label>
          <div class="card flex justify-center">
          <input type="email" pInputText formControlName="email"  class="p-inputtext p-component p-element" fdprocessedid="sej9fc"/>
          </div>
          <small>@if(createAccountForm.controls['email'].invalid && createAccountForm.controls['email'].touched)
            {
              Please enter a valid email.
            }
          </small>
  </div>
         <!-- Password -->
  <div>
          <label for="password">Password</label>
          <div class="card flex justify-center">
          <input type="password" pInputText formControlName="password"  class="p-inputtext p-component p-element" fdprocessedid="sej9fc"/>
         </div>
           <small>@if(createAccountForm.controls['password'].invalid && createAccountForm.controls['password'].touched)
          {
  
            Password must be at least 8 characters with a number and special character.
          }
        </small>
  </div>
        <!-- Confirm Password -->
  <div>
          <label for="confirmPassword">Confirm Password</label>
          <div class="card flex justify-center">
          <input type="password" pInputText formControlName="confirmPassword"  class="p-inputtext p-component p-element" fdprocessedid="sej9fc"/>
          </div>
           <small>@if(createAccountForm.controls['confirmPassword'].invalid && createAccountForm.controls['confirmPassword'].touched)
          {
            
            Passwords do not match.
  
          }
        </small>
        
  </div>
        
          <!-- phoneNumber -->
  <div>
            <label for="phoneNumber">phone Number </label>
            <div class="card flex justify-center">
            <input type="text" pInputText formControlName="phoneNumber"  class="p-inputtext p-component p-element" fdprocessedid="sej9fc"/>
            </div>
            
            <small>
              @if(createAccountForm.controls['phoneNumber'].invalid && createAccountForm.controls['phoneNumber'].touched)
            {
              phoneNumber number must be 10 digits.
  
            }
          </small>            
  </div>
          <!-- Submit Button -->
     
          <p-button type="submit" [disabled]="createAccountForm.invalid">Register</p-button>
       
        </form>
      </div>
    <p-footer>
        <!-- Login Link -->
        <p>Already have an account? </p>
          <p-button  (click)="login()">Login here</p-button>
        </p-footer>
  </p-card>